@import 'https://fonts.googleapis.com/css?family=Days+One|Dosis|Farsan';
$color1:  #322938;
$color2:  #89A194;
$color3:  #CFC89A;
$color4:  #CC883A;
$color5:  #A14016;

$color6:  #F3BC55;
$color7:  #F3A05E;
$color8:  #D78148;
$color9:  #BE3606;
$color10: #240400;

$fuente: 'Dosis', sans-serif;
$fuente1: 'Days One', sans-serif;
$fuente2: 'Farsan', cursive;