/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import 'https://fonts.googleapis.com/css?family=Days+One|Dosis|Farsan';
/* line 5, C:/xampp/htdocs/futuro/css/_reset.scss */
*, *:after, *:before {
  box-sizing: border-box; }

/* line 20, C:/xampp/htdocs/futuro/css/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 30, C:/xampp/htdocs/futuro/css/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 33, C:/xampp/htdocs/futuro/css/_reset.scss */
body {
  line-height: 1; }

/* line 36, C:/xampp/htdocs/futuro/css/_reset.scss */
ol, ul {
  list-style: none; }

/* line 39, C:/xampp/htdocs/futuro/css/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 43, C:/xampp/htdocs/futuro/css/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 47, C:/xampp/htdocs/futuro/css/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 52, C:/xampp/htdocs/futuro/css/_reset.scss */
h1 {
  font-size: 36px;
  line-height: 40px; }

/* line 57, C:/xampp/htdocs/futuro/css/_reset.scss */
h2 {
  font-size: 30px;
  line-height: 40px; }

/* line 62, C:/xampp/htdocs/futuro/css/_reset.scss */
h3 {
  font-size: 24px;
  line-height: 40px; }

/* line 67, C:/xampp/htdocs/futuro/css/_reset.scss */
h4 {
  font-size: 18px;
  line-height: 20px; }

/* line 72, C:/xampp/htdocs/futuro/css/_reset.scss */
h5 {
  font-size: 14px;
  line-height: 20px; }

/* line 77, C:/xampp/htdocs/futuro/css/_reset.scss */
h6 {
  font-size: 12px;
  line-height: 20px; }

/* line 81, C:/xampp/htdocs/futuro/css/_reset.scss */
a {
  text-decoration: none; }

/* line 4, C:/xampp/htdocs/futuro/css/estilo.scss */
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Dosis", sans-serif; }

/* line 14, C:/xampp/htdocs/futuro/css/estilo.scss */
.site-header {
  background: #322938;
  color: #fff; }
  /* line 18, C:/xampp/htdocs/futuro/css/estilo.scss */
  .site-header a {
    color: #fff;
    text-decoration: none; }

/* line 25, C:/xampp/htdocs/futuro/css/estilo.scss */
.top-nav a {
  color: #cdcfea;
  text-decoration: none;
  padding: 1rem 1rem 1.6rem; }
  /* line 29, C:/xampp/htdocs/futuro/css/estilo.scss */
  .top-nav a:hover {
    color: #fff;
    border-bottom: 4px solid #fff; }

/* line 40, C:/xampp/htdocs/futuro/css/estilo.scss */
.menu li {
  display: inline-block; }

/* line 45, C:/xampp/htdocs/futuro/css/estilo.scss */
.brand {
  padding: 1rem 0;
  display: inline-block; }
  /* line 48, C:/xampp/htdocs/futuro/css/estilo.scss */
  .brand .site-title {
    font-family: "Dosis", sans-serif; }
  /* line 51, C:/xampp/htdocs/futuro/css/estilo.scss */
  .brand .site-tagline {
    font-size: 0.7rem;
    letter-spacing: 1px; }

/* line 58, C:/xampp/htdocs/futuro/css/estilo.scss */
.content {
  background: #fefefe; }

/* line 62, C:/xampp/htdocs/futuro/css/estilo.scss */
.banner {
  background-size: cover; }
  /* line 64, C:/xampp/htdocs/futuro/css/estilo.scss */
  .banner * {
    font-family: "Dosis", sans-serif;
    color: #322938; }

/* line 70, C:/xampp/htdocs/futuro/css/estilo.scss */
.b1 {
  background-image: url("../img/family-14.jpg");
  height: 500px; }

/* line 75, C:/xampp/htdocs/futuro/css/estilo.scss */
.login-banner {
  height: 100vh; }

/* line 80, C:/xampp/htdocs/futuro/css/estilo.scss */
.site-footer {
  background: #89A194;
  height: 180px; }

/* line 86, C:/xampp/htdocs/futuro/css/estilo.scss */
.login-container {
  width: 300px;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 12px -2px #322938;
  border: 1px solid #CFC89A; }

/* line 95, C:/xampp/htdocs/futuro/css/estilo.scss */
.container {
  width: 97%;
  min-width: 300px;
  margin: 0 auto; }

/* line 101, C:/xampp/htdocs/futuro/css/estilo.scss */
.flex-row-sbtwn {
  display: flex;
  justify-content: space-between;
  align-items: center; }

/* line 107, C:/xampp/htdocs/futuro/css/estilo.scss */
.flex-row-sarnd {
  display: flex;
  justify-content: space-around;
  align-items: center; }

/* line 112, C:/xampp/htdocs/futuro/css/estilo.scss */
.blurbs {
  padding: 2rem 0;
  background: #CFC89A; }

/* line 116, C:/xampp/htdocs/futuro/css/estilo.scss */
.flex-center-both {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 122, C:/xampp/htdocs/futuro/css/estilo.scss */
.text-center {
  text-align: center; }

/* line 126, C:/xampp/htdocs/futuro/css/estilo.scss */
.campo {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  /* line 131, C:/xampp/htdocs/futuro/css/estilo.scss */
  .campo input:not([type="checkbox"]) {
    width: 100%;
    border: 1px solid #CFC89A;
    padding: 5px;
    border-radius: 3px; }
  /* line 137, C:/xampp/htdocs/futuro/css/estilo.scss */
  .campo label {
    font-size: 0.85rem; }
  /* line 140, C:/xampp/htdocs/futuro/css/estilo.scss */
  .campo.check {
    justify-content: flex-start; }
  /* line 144, C:/xampp/htdocs/futuro/css/estilo.scss */
  .campo.submit input {
    width: 48%; }

/*# sourceMappingURL=estilo.css.map */